POSTGRES_DB=delivery_db
POSTGRES_USER=delivery_user
POSTGRES_PASSWORD=delivery_pass
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/delivery_db
SPRING_DATASOURCE_USERNAME=delivery_user
SPRING_DATASOURCE_PASSWORD=delivery_pass
SPRING_FLYWAY_ENABLED="true"
APP_JWT_SECRET=a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2
APP_JWT_EXPIRATION=86400000